.header {
    background-image: linear-gradient(to bottom right, #0068B0, #ADC1F1);
    color: aliceblue;
    font-weight: bolder;
    padding: 1rem;
}

.header-text {
    text-align: center;
}

.search-form {
    padding: 1rem;
    border-bottom: 3px solid grey;
}

.card-header {
    background-color: white;
    border: none;
    white-space: nowrap;
    padding: 0.5rem 0rem;
}

.current-card {
    margin: 1rem;
    padding: 0.5rem;
    border: 2px solid gray;
    border-radius: 5px;
    background-color: #A6B9C7;
}
.btn {
    background-image: linear-gradient(to bottom right, #0068B0, #ADC1F1);
    color: white;
    margin-top: 0.5rem;
}

.card {
    margin: 0.25rem;
    background-color: #A6B9C7;
}

.search-history {
    margin-top: 2rem;
}

#forecast-header {
    margin-left: 1rem;
}

#forecast-box {
    margin-left: 1rem;
}

.card-text {
    font-size: small;
}

#current-card-icon {
    visibility: hidden;
}